<ul class="vertical-menu">
#- if user:
    <li><a onclick="loadPage('{{ request.application_url }}', '#body', $(this))" class="icon-logo"></a></li>
    <li>
        <a onclick="loadPage('{{ request.application_url }}/pages', '#body', $(this))" class="icon-tree"></a>
        <p class="description">P&aacute;ginas</p>
    </li>
    <li>
        <a onclick="loadPage('{{ request.application_url }}/site', '#body', $(this))" class="icon-settings"></a>
        <p class="description">Sitio</p>
    </li>
    <li>
        <a onclick="loadPage('{{ request.application_url }}/accounts', '#body', $(this))" class="icon-users"></a>
        <p class="description">Usuarios</p>
    </li>
    <li>
        <a href="{{ request.application_url }}/logout" class="icon-exit"></a>
        <p class="description">Salir</p>
    </li>
#- else:
    <li><a class="icon-logo"></a></li>
#- endif
</ul>