@import url('foundicons.css');
@import url('menu.css');
@import url('tree.css');

@font-face{font-family: LatoRegular;src: url('../fonts/Lato-Reg.ttf') format('truetype')}
@font-face{font-family: LatoLight;src: url('../fonts/Lato-Lig.ttf') format('truetype')}
@font-face{font-family: LatoBlack;src: url('../fonts/Lato-Bla.ttf') format('truetype')}


body{background-color:#414E54;margin-left:4em!important}
a{cursor:pointer;font-family:LatoRegular;color:#922f25}
p{font-family:LatoRegular;margin:0 0 1em}
h1,h2,h3,h4,h5,h6{font-family:LatoBlack}
input,textarea,p{font-size: 0.9em}
hr{border-top: 1px solid #414E54;margin-top:0.5em}
.row{max-width:none!important}

.content .wrapper{margin-left:4em;margin-right:4em;margin-top:4em}
.content .panel{background-color:rgba(255,255,255,0.4);}
.content .panel .wrapper{margin:0;padding:2em}
.content .panel .field-title{margin-bottom:0;color:#414E54;font-family:LatoLight;text-transform:uppercase;}
.content .panel .info{font-size:10px!important;padding:0;text-transform: uppercase;}
.content .panel .button{text-align:center;padding:0.9em}
.content .panel .button a{font-family:LatoBlack;color:#fff;text-transform: uppercase;width: 100%!important;display: block;}
.content .panel .button-bar{background-color:#922f25}
.content .panel .list-item{list-style:none;background-color:rgba(0,0,0,0.5);margin:10px 0;padding:8px;border-radius:2px}
.content .panel .list-item a{color:#fff;font-family:LatoLight}
.content .form-panel .wrapper{padding:4em 3em}
.centered-title{text-align:center}
.message{padding:1em;background-color:#23648C;color:#CFD2D5;font-family:LatoLight;}
.errors li:before{content: '!';color:#922f25;font-family:LatoBlack;padding-right:5px}
.errors li{font-family:LatoLight}

footer .wrapper{background-color:#191F21;margin:4em;padding:1em}
footer p,footer a{font-family:LatoLight;color:#fff;font-size:0.6em;margin-top:1em;text-align:center}
footer a:hover{color:#922f25}

form .label{text-transform:lowercase;}
form .label p{margin:0;font-family:LatoBlack}
form .errors li{list-style:none}
form input[type=text], form input[type=password]{padding: 0.9em;border: none!important;background-color: rgba(255, 255, 255, 0.5);color: #1C1B19;width: 100%!important;font-family:LatoRegular;}
form input[type=text]:focus, form input[type=password]:focus{background-color: #414E54;color: #fff;outline: none}
form input[type=submit]{border: none!important;background: none;color: #fff;width: 100%!important;font-size: 1em;padding: 0.9em;text-transform: uppercase;cursor: pointer;font-family:LatoBlack;margin: 0;}
form select{border-radius:0;border:none;padding:1em;background:rgba(255,255,255,0.5);font-size:0.8em;font-family:LatoRegular;-webkit-appearance:none;}

.redactor_box{border:none!important}
.noise {position:relative;z-index: 1}
.noise:before, .body-noise:before {content: "";position:absolute;z-index:-1;top:0;bottom:0;left:0;right:0;background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);}
.redactor_box_fullscreen{z-index:99999!important}

@media screen and (max-width: 50em) {
.content .wrapper, footer .wrapper{margin:1em;margin-left:0.5em}
footer .wrapper{padding:0.5em}
.form-panel .wrapper{padding:1.1em!important}
}